<% if @question.errors.any? %> <%# exibe mensagem caso algum erro impeça a edição %>
  <div class="card bg-danger text-white shadow">
    <div class="card-body">
      Atenção
        <% @question.errors.full_messages.each do |message| %>
          <li class="small"><%= message %></li>
        <% end %>
    </div>
  </div>
<% end %>

<!-- DataTales -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= "#{action_message} questão" %></h6>
  </div>
  <div class="card-body">
  <%= form_with(model: [:admins_backoffice, @question ], local: true) do |form| %>
  <%# local: true ->envia em HTML para o controler; padrão = JS %>
    <form class="mr-auto ml-md-3 my-2 my-md-0 mw-100">
     
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control bg-light", placeholder:"Insira a pergunta...", rows: 3 %>
      </div>

      <div class="form-group">
        <%= form.label :subject %>
        <%= form.collection_select(:subject_id, @subjects, :id, :description, 
                                  {include_blank: 'Selecione o tópico...'}, {class:"form-control bg-light"}) %>
      </div>

      <div id='answers'>
        <%= form.fields_for :answers do |answer| %>
          <%= render partial: 'answer_fields', locals: {f: answer} %>
        <% end %>
        <%= link_to_add_association 'Adicionar Resposta', form, :answers %>
      </div>

      <button class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Enviar</span>
      </button>
    <% end %>
  </div>
</div>
