<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="container pb-4">
      <div class="card">
        <h6 class="card-header bg-secondary text-white">
          <%# O valor dentro do path(VALOR) será passado ao controller %>
          <%= link_to site_search_subject_path(question.subject_id, question.subject.description), class:"badge badge-pill #{question.set_tag_color}" do %>
            <%= question.subject.description %>
            <span class="badge badge-light">
              <%= question.subject.questions_count %>
            </span>
          <% end %>
          <%= question.description %>
        </h6>
        <div class="card-body">
          <% question.answers.each do |answer| %>
            <div class="form-check">
              <label class="form-check-label" id='answer_option_<%= answer.id %>'>
                <%= radio_button_tag 'answer_id', answer.id, false, class: "form-check-input" %>
                <%= answer.description %>
              </label>
            </div>
          <% end %>
          </br>
          <%= form.submit 'Responder', class:"btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <%= paginate @questions %>
  </div>
</div>