<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Altere sua senha!</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name),  html: { class:"user", method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.password_field :password, autofocus: true, placeholder:"Nova senha", class:"form-control form-control-user" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autofocus: true, placeholder:"Confirmar nova senha", class:"form-control form-control-user" %>
    </div>


    <%= f.submit "Alterar senha", class:"btn btn-danger btn-user btn-block" %>

  <% end %>

  <hr>
  <div class="text-center">
    <%= link_to 'Já sou cadastrado!', new_user_session_path, class:"small" %>
  </div>
  <div class="text-center mt-1">
    <%= link_to 'Criar conta!', new_user_registration_path, class:"small" %>
  </div>
</div>