<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Esqueceu sua senha?</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class:"user", method: :post }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control form-control-user" %>
    </div>

    <%= f.submit "Recuperar senha", class:"btn btn-danger btn-user btn-block" %>

  <% end %>

  <hr>
  <div class="text-center">
    <%= link_to 'Já sou cadastrado!', new_user_session_path, class:"small" %>
  </div>
  <div class="text-center mt-1">
    <%= link_to 'Criar conta!', new_user_registration_path, class:"small" %>
  </div>
</div>