<!-- DataTales -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Administradores</h6>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>            
          <th><%# criar novo adm %>
            <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-block" do %>
                <i class="fas fa-user-plus" style="white"></i> Novo
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td style="width: 65px"><%= admin.id %></td>
          <td><%= admin.email %></td>
          <td style="width: 113px">
            <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-primary btn-circle" do %><%# editar admin %>
                <i class="fas fa-edit" style="white"></i>
            <% end %>
            <%# excluir admin %>
            <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle", data: {confirm: "Deseja realmente excluir o admin #{admin.email}?"} do %>
                <i class="fas fa-trash-alt" style="white"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>