<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'users_backoffice' %>
      
  </head>

  <body class="fix-header card-no-border">
    <div class="preloader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
      <!-- Main wrapper - style you can find in pages.scss -->
    <div id="main-wrapper">
      <!-- Topbar -->        
      <header class="topbar" style="height: 80px;">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
          <!-- Logo icon -->
          <div class="navbar-header">
            <%= link_to root_path, class:"navbar-brand" do %>
                <b><%= image_tag 'SIB_logo.png', alt:"SIB", class:"dark-logo", height: '72' %></b>
                <span><%= image_tag 'SIB_texto.png', alt:"Sist. Impulse", class:"dark-logo", height: '80' %></span>
            <% end %>
          </div>

          <!-- Sidebar Toggle (Topbar) -->
          <%= link_to "javascript:void(0)", class:"nav-link nav-toggler waves-effect d-md-none text-white" do %>
            <i class="fa fa-bars"></i>
          <% end %>

            <!-- search bar
          <div class="nav-item hidden-sm-down">
            <form class="app-search p-l-20">
              <input type="text" class="form-control" placeholder="Procurar...">
              <a class="srh-btn"><i class="fa fa-search"></i></a>
            </form>
          </div> -->

          <div class="nav-item dropdown no-arrow ml-auto">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag set_avatar, alt:"user", class:"profile-pic m-r-10", id:"avatarImgTopBar" %>
              <span class="mr-2 d-none d-lg-inline text-white"><%= current_user.email %></span>
            </a>
            <div class="dropdown-menu">
              <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                <i class="fa fa-sign-out fa-sm fa-fw mr-2"></i> Sair
              <% end %>
            </div>
          </div>
        </nav>
      </header> <!-- End of Topbar -->

      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li>
                <%= link_to users_backoffice_welcome_index_path, class:"waves-effect" do %>
                  <i class="fa fa-home m-r-10"></i>Início
                <% end %>
              </li>
              <li>
                <%= link_to users_backoffice_profile_path, class:"waves-effect" do %>
                  <i class="fa fa-user m-r-10"></i>Perfil
                <% end %>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside> <!-- End Left Sidebar -->
      
      <!-- Page wrapper  -->
      <div class="page-wrapper" style="padding-top: 0px;">
        <!-- Container fluid  -->
        <div class="container-fluid">
          <%= yield %>
        </div>

        <footer class="footer text-center">
          © 2020 Joao Rangel
        </footer>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>
  
    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {type: 'primary', align: 'center', width: 'auto'});
      <% end %>
    <% end %>

  </body>

</html>
